{% extends 'main/base.html' %}

{% block content %}
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Информация о студенте </h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>Имя</td>
                        <td>{{ object.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Фамилия</td>
                        <td>{{ object.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Почта</td>
                        <td>{{ object.email|default:"-" }}</td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
                <a href="{% url 'main:students_list' %}" class="btn btn-primary"><< Назад</a>
                <a href="{% url 'main:toggle_activity' object.pk %}" class="btn btn-outline-warning float-right">
                    {% if object.is_active %}
                        Деактивировать
                    {% else %}
                        Активировать
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Предметы студента </h4>
            </div>
            <div class="card-body">
            <ul>
                {% for subject in subjects %}
                    <li>{{ subject }}</li>
                {% endfor %}
            </ul>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
{% endblock %}